body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

.main-content {
    width: 1280px;
    height: 700px;
    margin-left: calc(50% - 640px);
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.column {
    width: 263px;
    position: relative;
}

.title {
    text-align: center;
    color: rgb(243, 77, 51);
    font-weight: 500;
    text-transform: uppercase;
}

.title-text {
    margin-left: 32px;
}

.image-container {
    position: relative;
}

.number {
    margin: 0;
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 50%;
    border: black 5px solid;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    top: -32px;

}

.one {
    color: rgb(81, 195, 205);
    border-color: rgb(81, 195, 205);
}

.two {
    color: rgb(58, 110, 193);
    border-color: rgb(58, 110, 193);
}

.three {
    color: rgb(243, 77, 51);
    border-color: rgb(243, 77, 51);
}

.four {
    color: rgb(145, 145, 145);
    border-color: rgb(145, 145, 145);
}

.rocket-home {
    width: 80%;
    background-color: rgb(81, 195, 205);
}

.head-home {
    background-color: rgb(58, 110, 193);
}

.people-home {
    background-color: rgb(243, 77, 51);
}

.arrow-home {
    background-color: rgb(145, 145, 145);
}

.rocket {
    width: 70%;
}

.head {
    width: 70%;
}

.people {
    width: 70%;
}

.arrow {
    width: 70%;
}

.icon {
    width: 230px;
    height: 230px;
    margin-top: 32px;
    margin-left: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}